.announcements-container {
    text-align: center;
    margin-right: 300px;
    margin-bottom: 50px;
}

.announcements-container > #searchbar {
    border-radius: 15px;
    padding: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    border: none;
    box-shadow: 0 0 10px #ff69b4;
}

.announcements-container > .searchbar-label {
    margin-right: 20px;
}

.announcements-container > h1 {
    font-size: 2.3em;
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #ff69b4, 
        0 0 30px #ff69b4, 
        0 0 40px #ff69b4, 
        0 0 50px #ff69b4, 
        0 0 60px #ff69b4, 
        0 0 70px #ff69b4;
}

.announcements-array {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}