.home-container {
    margin: 20px;
    margin-top: 15vh;
    width: 50%;
    text-align: left;
    margin-left: 50px;
}

@media only screen and (max-width: 1200px) {
    .home-container {
        margin-left: 0;
        width: 100%;
    }
}