.create-announcement > h1 {
    font-size: 2.3em;
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #90deee, 
        0 0 30px #90deee, 
        0 0 40px #90deee, 
        0 0 50px #90deee, 
        0 0 60px #90deee, 
        0 0 70px #90deee;
}

.create-announcement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}

.content-input {
    width: 80%;
    height: 200px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    margin: 20px;
    padding: 5px;
}

.create-submit {
    transition: .5s;
    color: #fff;
    background: #90deee;
    box-shadow:  0 0 40px #90deee;
    margin-top: 50px;
    border-radius: 25px;
}

.create-submit:hover {
    transition: .5s;
    transform: translateY(-4px);
    background: #b5dce4;
    box-shadow:  0 0 40px #b5dce4;
}

#title-input {
    color: #fff;
    padding: 20px;
    border: none;
    background: transparent;
    box-shadow: 0 0 10px #90deee;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}