.create-announcement > h1 {
    font-size: 2.3em;
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #b95910, 
        0 0 30px #b95910, 
        0 0 40px #b95910, 
        0 0 50px #b95910, 
        0 0 60px #b95910, 
        0 0 70px #b95910;
}

.create-announcement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 250px;
}

.content-input {
    width: 80%;
    height: 200px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    margin: 20px;
    padding: 5px;
}

.create-submit {
    transition: .5s;
    color: #fff;
    background: #b95910;
    box-shadow:  0 0 40px #b95910;
    margin-top: 50px;
    border-radius: 25px;
}

.create-submit:hover {
    transition: .5s;
    transform: translateY(-4px);
    background: #ba855c;
    box-shadow:  0 0 40px #ba855c;
}