.home-content {
    font-size: 1.3em;
}

.home-container > h1 {
    font-size: 2.6em;
}

.home-container > h1 > span {
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #e7579f, 
        0 0 30px #e7579f, 
        0 0 40px #e7579f, 
        0 0 50px #e7579f, 
        0 0 60px #e7579f, 
        0 0 70px #e7579f;
}