.profil {
    text-align: center;
    margin-right: 300px;
}

.profil > h1 {
    font-size: 2.3em;
}

.profil > h1 > span {
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #ff69b4, 
        0 0 30px #ff69b4, 
        0 0 40px #ff69b4, 
        0 0 50px #ff69b4, 
        0 0 60px #ff69b4, 
        0 0 70px #ff69b4;
}

.user-email {
    font-size: 1.5em;
}

.user-email > span {
    text-shadow:
        0 0 10px #75cbe8,
        0 0 20px #75cbe8,
        0 0 30px #75cbe8,
        0 0 40px #75cbe8;
}

.add-announcement {
    transition: .5s;
    color: #fff;
    margin-top: 25px;
    background: #e7579f;
    box-shadow:  0 0 40px #e7579f;
    border-radius: 50px;
}

.add-announcement:hover {
    transition: .5s;
    background-color: #e29dbf;
    box-shadow:  0 0 40px #e29dbf;
}

.plus path {
    stroke: #fff;
}

.plus {
    padding-left: 2px;
}

.see-announcements {
    transition: .5s;
    color: #fff;
    background: #90deee;
    box-shadow:  0 0 40px #90deee;
    margin-top: 25px;
    border-radius: 25px;
}

.see-announcements:hover {
    transition: .5s;
    background: #c9e4e9;
    box-shadow:  0 0 40px #c9e4e9;
}

.hide-announcements {
    transition: .5s;
    color: #fff;
    background: #c9e4e9;
    box-shadow:  0 0 40px #c9e4e9;
    margin-top: 25px;
    border-radius: 25px;
}

.see-comments {
    transition: .5s;
    color: #fff;
    background: #e7579f;
    box-shadow:  0 0 40px #e7579f;
    margin-top: 50px;
    border-radius: 25px;
}

.see-comments:hover {
    transition: .5s;
    background: #e29dbf;
    box-shadow:  0 0 40px #e29dbf;
}

.hide-comments {
    transition: .5s;
    color: #fff;
    background: #e29dbf;
    box-shadow:  0 0 40px #e29dbf;
    margin-top: 50px;
    border-radius: 25px;
}