.profil {
    text-align: center;
    margin-right: 250px;
}

.profil > h1 {
    font-size: 2.3em;
}

.profil > h1 > span {
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #ff69b4, 
        0 0 30px #ff69b4, 
        0 0 40px #ff69b4, 
        0 0 50px #ff69b4, 
        0 0 60px #ff69b4, 
        0 0 70px #ff69b4;
}

.user-email {
    font-size: 1.5em;
}

.user-email > span {
    text-shadow:
        0 0 10px #75cbe8,
        0 0 20px #75cbe8,
        0 0 30px #75cbe8,
        0 0 40px #75cbe8;
}

.add-announcement {
    transition: .5s;
    color: #fff;
    margin-top: 25px;
    background: #794cff;
    box-shadow:  0 0 40px #794cff;
    border-radius: 50px;
}

.add-announcement:hover {
    transition: .5s;
    background-color: #c6b3fe;
    box-shadow:  0 0 40px #c6b3fe;
}

.plus path {
    stroke: #fff;
}

.plus {
    padding-left: 2px;
}

.see-announcements {
    transition: .5s;
    color: #fff;
    background: #3d46df;
    box-shadow:  0 0 40px #3d46df;
    margin-top: 25px;
    border-radius: 25px;
}

.see-announcements:hover {
    transition: .5s;
    background: #a8adff;
    box-shadow:  0 0 40px #a8adff;
}

.hide-announcements {
    transition: .5s;
    color: #fff;
    background: #9a9ffd;
    box-shadow:  0 0 40px #9a9ffd;
    margin-top: 25px;
    border-radius: 25px;
}

.see-comments {
    transition: .5s;
    color: #fff;
    background: #fd3636;
    box-shadow:  0 0 40px #fd3636;
    margin-top: 50px;
    border-radius: 25px;
}

.see-comments:hover {
    transition: .5s;
    background: #ffbdbd;
    box-shadow:  0 0 40px #ffbdbd;
}

.hide-comments {
    transition: .5s;
    color: #fff;
    background: #ff7272;
    box-shadow:  0 0 40px #ff7272;
    margin-top: 50px;
    border-radius: 25px;
}