body {
    scroll-behavior: smooth;
}

.nav {
    transition: .5s;
    filter: opacity(80%);
    position: sticky;
    margin-top: 25px;
    padding-top: 25px;
    top: 0;
    width: 100%;
    z-index: 4;
    color: #dff4fe;
    height: 75px;
    background: #101428;
}

.transparent {
    transition: .5s;
    background: transparent;
}

.logo-container {
    position: fixed;
    width: 100%; 
    height: 100px;
    background: #101428;
    filter: opacity(80%);
}

.logo {
    width: 75px;
    height: 75px;
    filter: opacity(80%);
}

.nav-links {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-link {
    cursor: pointer;
    transition: 0.5s;
    margin-right: 20px;
    font-size: 25px;
    text-decoration: none;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    text-underline-offset: 10px;
    color: #fff;
    border: none;
    background: none;
}

.nav-link:hover {
    transition: text-decoration-color 0.5s;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-shadow:   
        0 0 20px #ff69b4,
        0 0 40px #ff69b4;
}

.active {
    cursor: default;
    transition: text-decoration-color 300ms;
    text-shadow: 2px 2px #323232;
    margin-bottom: 2px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-shadow:   
        0 0 20px #ff69b4,
        0 0 40px #ff69b4;
}

.nav-link::selection {
    transition: 0.5s;
    color: #fff;
    background-color: #011c29;
}

.logo-container {
    width: 20%;
}

.logo {
    width: 40px;
    height: 40px;
}

@media only screen and (max-width: 1470px) {
    .nav-link {
        margin-top: 10px;
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 1200px) {
    .nav-links {
        width: 100%;
        font-size: auto;
    }
    .nav-link {
        font-size: 1.02rem;
    }
    .nav-links {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        background-color: #101428;
    }

    .nav {
        margin-top: 0;
        width: 50%;
        background-color: #101428;
        position: fixed;
        height: 100%;
    }

    .logo-container {
        z-index: 5;
    }
        
    .logo {
        z-index: 5;
        margin: 40px;
    }

    .logo-active {
        margin-left: 90%;
    }
}
