.register-container > h1 {
    text-align: center;
    font-size: 2.3em;
    text-shadow: 
        0 0 10px #fff, 
        0 0 20px #90deee, 
        0 0 30px #90deee, 
        0 0 40px #90deee, 
        0 0 50px #90deee, 
        0 0 60px #90deee, 
        0 0 70px #90deee;
}