.App {
  color: #fff;
  background: linear-gradient(#101428, #37183c);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.starter {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 25px;
  background: linear-gradient(#101428, #37183c);
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #e7579f;
  box-shadow: 0 0 40px #e7579f;
}

::-webkit-scrollbar-thumb:hover {
  background: #d986b0;
  box-shadow: 0 0 40px #d986b0;
}